:root {
    --azul: #000668;
    --fondo: #1a090c;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(10, 10, 20, 0.808)30%, rgba(10, 10, 20, .50)50%), url(../image/Program/Fondo.png);
    font-family: 'Open Sans', sans-serif;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.contenedor {
    width: 95%;
    margin: auto
}

header {
    padding: 5px 0;
    background-color: rgb(52,4,28);
}
.contenedor img{
    width: 10%;
    margin-left: 3px;
}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: #ebe4e3;
    font-size: 40px;
    margin-left: 2px;
    font-weight: bold;
    text-align: center;
}


header nav a {
    color: #ebe4e3;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;

}

header nav a:hover,
header nav a.activo {
    color: #ECAB00;
}
/*-------- OPCIONES-----*/



.Contenedor-principal {
    display: flex;
    align-items: center;
    position: relative;
 
}

 .modl {
    margin-top: 30px;
    display: flex;
   margin-left: 10%;
   margin-right: 15%;
    align-items: left;
    text-align: center;
    justify-content: space-between;
    overflow: hidden;
    color:  #ECAB00
}


 .modl .in_mod {
    width: 33%;
    transition: .3s ease all;
}

 .modl .in_mod .piepel {
    align-items: center;
    margin-top: 4%;
    margin-left: 50px;
    margin-bottom: 20%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
}


 .modl .in_mod img {
    width: 85%;
    vertical-align: top;
    margin: 20px;
    margin-left: 10px;
    filter: drop-shadow(8px 8px 5px #01010a65);
    border-radius: 5px;
}

 .modl .in_mod :hover img {
    filter: contrast(1.2) saturate(1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);}
