<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='./CSS/inicial.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='./CSS/config.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='./CSS/equipos.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap" rel="stylesheet">

    <title>Mundial Qatar 2022</title>
</head>

<body>
    <header>
        <div class="contenedor">
            <img src="https://i.ibb.co/FVnhBxK/Logo.png"></img>
            <h2 class="logo">Copa Mundial de la FIFA Qatar 2022</h2>
           
            <nav>
                <a href="/">Inicio</a>
                <a href="/Programacion">Programación</a>
                <a href="/Partidos">Partidos on-line</a>
                <a href="/config" class="activo">Configuración</a>
        

            </nav>
        </div>
    </header>

    <section class="section btn-secondary">
        <div class="row">

            <!-- <div class="dropdown">
                <form action="/select_group_edit" method="GET">
                <label for="fname">Seleccionar grupo:</label>
                   <select name="group-select" class="selectpicker">
                   <option value="-">-</option>
                   <option value="A">A</option>
                   <option value="B">B</option>
                   <option value="C">C</option>
                   <option value="D">D</option>
                   </select>
                   <button class= "dropbtn" type="submit" id="save_group">
                    Buscar
                </button>
                </form>
              </div> -->
              {% block tabla_equipos %}
             {% endblock %}
          
            </div>

            
            <!-- <div>
               <button class="button_delete"id="delete_teams">Eliminar seleccionados</button>
            </div>  -->
            </section>

        <!-- <div class="Contenedor-princpipal">
            <div class="Contenedor-Modulos">
                <div class="modl">
                    <div class="in_mod">
                        <h2>Datos de Equipos de Fútbol</h2>
                        <a href="/equipos"><img src="{{url_for('static',filename='/image/config/equipos.png')}}" alt=""></a>
                    </div>
                    <div class="in_mod">
                        <h2>Árbitros</h2>
                        <a href="/Editp"><img src="{{url_for('static',filename='/image/config/arbitro.jpg')}}" alt=""></a>
                    </div>
                    <div class="in_mod">
                        <h2>Estadios</h2>
                        <a href="/Editp"><img src="{{url_for('static',filename='/image/config/estadios.jpg')}}" alt=""></a>
                    </div>
                </div>
            </div> -->
</body>

</html>