<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='./CSS/inicial.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='./CSS/config.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='./CSS/equipos.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap" rel="stylesheet">

    <title>Mundial Qatar 2022</title>
</head>

<body>
    <header>
        <div class="contenedor">
            <img src="https://i.ibb.co/FVnhBxK/Logo.png"></img>
            <h2 class="logo">Copa Mundial de la FIFA Qatar 2022</h2>
           
            <nav>
                <a href="/">Inicio</a>
                <a href="/Programacion">Programación</a>
                <a href="/Partidos">Partidos on-line</a>
                <a href="/config" class="activo">Configuración</a>
        

            </nav>
        </div>
    </header>
    <form action="/editestadios{{ep}}" method="POST">
    <section class="section btn-secondary">
        <div class="row">
        <h1 id="titulo">Estadios</h1>
          <table class="redTable">
            <thead>
            <tr>
            <th>Nombre</th>
            <th>Capacidad</th>
            <th>Ubicación</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td><input type="text" name="nest" value="{{ne}}"></td>
            <td><input type="text" name="cest" value="{{ce}}"></td>
            <td><input type="text" name="ubc" value="{{ub}}"></td>
            </tr>
            </tbody>
            </table>
            </div>
            <div>
                <select name="seled" class="selectpicker">
                    <option value="Editar">Editar</option>
                    <option value="Eliminar">Eliminar</option>
                    </select>
                    <button class= "dropbtn" type="submit" id="save_changes_team">
                              Enviar
                    </button>
            </div> 
            </section>
        </form>

        <!-- <div class="Contenedor-princpipal">
            <div class="Contenedor-Modulos">
                <div class="modl">
                    <div class="in_mod">
                        <h2>Datos de Equipos de Fútbol</h2>
                        <a href="/equipos"><img src="{{url_for('static',filename='/image/config/equipos.png')}}" alt=""></a>
                    </div>
                    <div class="in_mod">
                        <h2>Árbitros</h2>
                        <a href="/Editp"><img src="{{url_for('static',filename='/image/config/arbitro.jpg')}}" alt=""></a>
                    </div>
                    <div class="in_mod">
                        <h2>Estadios</h2>
                        <a href="/Editp"><img src="{{url_for('static',filename='/image/config/estadios.jpg')}}" alt=""></a>
                    </div>
                </div>
            </div> -->
</body>

</html>