{% extends "edit_equipos.html" %}

{% block tabla_equipos %}
{%if e!=1%}
    <table class="redTable">
            <thead>
            <tr>
            <th>Nombre Equipo</th>
            <th>Entrenador</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>{{t1[0]}}</td>
            <td>{{t1[1]}}</td>
            </tr>
            <tr>
            <td>{{t2[0]}}</td>
            <td>{{t2[1]}}</td>
            </tr>
            <tr>
            <td>{{t3[0]}}</td>
            <td>{{t3[1]}}</td>
            </tr>
            <tr>
            <td>{{t4[0]}}</td>
            <td>{{t4[1]}}</td>
            </tr>
            </tbody>
            </table>

            <h2 class="titulo_ag">Agregar Equipo</h2>
            <div class="form_div">
                <form action="/add_equipo" method="POST">
                    <input type="text" name="nombre_equipo" placeholder="Nombre Equipo">
                    <input type="text" name="entrenador" placeholder="Entrenador">
                    <input type="text" name="logo" placeholder="Logo">
                    <input type="text" name="grupo" placeholder="Grupo">
                    <button type="submit" class= "dropbtn" id="save_changes_team">
                        Guardar cambios
                    </button>
                </form>
            </div>
{%else%}
<form action="/select_group_edit{{ep}}" method="POST">
<table class="redTable">
    <thead>
    <tr>
    <th>Nombre Equipo</th>
    <th>Entrenador</th>
    <th>Grupo</th>
    <th>Editar Jugadores</th>
  
    </tr>
    </thead>
    <tbody>
    <tr>
    <td><input type="text" name="nombre_equipo" value="{{Eq[0]}}"></td>
    <td><input type="text"  name="entrenador" value="{{Eq[1]}}"></td>
    <td><input type="text"  name="grupo" value="{{Eq[3]}}"></td>
    
    </tr>
    </tbody>
    </table>
   
      <select name="seled" class="selectpicker">
      <option value="Editar">Editar</option>
      <option value="Eliminar">Eliminar</option>
      </select>
      <button class= "dropbtn" type="submit" id="save_changes_team">
                Enviar
      </button>

</form>
{%endif%}
{% endblock %}