<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='./CSS/inicial.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='./CSS/config.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='./CSS/equipos.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap" rel="stylesheet">

    <title>Mundial Qatar 2022</title>
</head>

<body>
    <header>
        <div class="contenedor">
            <img src="{{url_for('static',filename='/image/Logo.png')}}"></img>
            <h2 class="logo">Copa Mundial de la FIFA Qatar 2022</h2>
           
            <nav>
                <a href="/">Inicio</a>
                <a href="/Programacion">Programación</a>
                <a href="/Inises">Partidos on-line</a>
                <a href="/config" class="activo">Configuración</a>
        

            </nav>
        </div>
    </header>

    <section class="section btn-secondary">
        <div class="row">
           <!-- Contenedor de las cards -->
           <div class="cards-container">
              <!-- Card, Acá van todas las card, se copian las card que sean necesarias en este
                 container. En este ejemplo se copiaron 3 cards -->
              
              <!-- Card 1 -->
              <article class="card btn-light">
               <img src="https://i.ibb.co/Nmwy8qG/catar.png" alt="catar">
                 <div class="card-info">
                    <h3 class="text-secondary">Catar</h3>
                    <!-- Info de la card -->
                    <div class="info-reserva-container">
                       <div class="info-left">
                          <p class="estadia">Entrenador:</p>
                          <p>
                            Nombre técnico 
                          </p>
                       </div>
                       <div class="info-right">
                          <div class="item">
                             <svg width="16" height="16" fill="currentColor" class="svg-icon">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                             </svg>
                             <a href="/jugadores">Ver Jugadores</a>
                          </div>
                          <div class="item">
                           <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                              <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                              <path d="M16 5l3 3"></path>
                           </svg>
                          <a>Editar info</a>
                          </div>
                       </div>
                    </div>
                 </div>
              </article> 
              <!-- Fin de la card 1-->
              <!-- Card 2 -->
              <article class="card btn-light">
               <img src="https://i.ibb.co/dm8HGpF/ecuador.png" alt="ecuador">
                <div class="card-info">
                   <h3 class="text-secondary">Ecuador</h3>
                   <!-- Info de la card -->
                   <div class="info-reserva-container">
                      <div class="info-left">
                         <p class="estadia">Entrenador:</p>
                         <p>
                           Nombre técnico 
                         </p>
                      </div>
                      <div class="info-right">
                         <div class="item">
                            <svg width="16" height="16" fill="currentColor" class="svg-icon">
                               <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                            <a>Ver Jugadores</a>
                         </div>
                         <div class="item">
                           <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                              <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                              <path d="M16 5l3 3"></path>
                           </svg>
                         <a>Editar info</a>
                         </div>
                      </div>
                   </div>
                </div>
             </article> 
             <!-- Fin de la card 2-->
             
            </div>
            <div class="cards-container">
               <!-- Card, Acá van todas las card, se copian las card que sean necesarias en este
                  container. En este ejemplo se copiaron 3 cards -->
               
               <!-- Card 3 -->
               <article class="card btn-light">
                  <img src="https://i.ibb.co/zfhR8JQ/pbajos.png" alt="pbajos">
                  <div class="card-info">
                     <h3 class="text-secondary">Paises Bajos</h3>
                     <!-- Info de la card -->
                     <div class="info-reserva-container">
                        <div class="info-left">
                           <p class="estadia">Entrenador:</p>
                           <p>
                             Nombre técnico 
                           </p>
                        </div>
                        <div class="info-right">
                           <div class="item">
                              <svg width="16" height="16" fill="currentColor" class="svg-icon">
                                 <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                              </svg>
                              <a>Ver Jugadores</a>
                           </div>
                           <div class="item">
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                 <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                 <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                                 <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                                 <path d="M16 5l3 3"></path>
                              </svg>
                           <a>Editar info</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </article> 
               <!-- Fin de la card 3-->
               <!-- Card 4 -->
               <article class="card btn-light">
                  <img src="https://i.ibb.co/w7s3Xy6/senegal.png" alt="senegal">
                 <div class="card-info">
                    <h3 class="text-secondary">Senegal</h3>
                    <!-- Info de la card -->
                    <div class="info-reserva-container">
                       <div class="info-left">
                          <p class="estadia">Entrenador:</p>
                          <p>
                            Nombre técnico 
                          </p>
                       </div>
                       <div class="info-right">
                          <div class="item">
                             <svg width="16" height="16" fill="currentColor" class="svg-icon">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                             </svg>
                             <a>Ver Jugadores</a>
                          </div>
                          <div class="item">
                           <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                              <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                              <path d="M16 5l3 3"></path>
                           </svg>
                          <a>Editar info</a>
                          </div>
                       </div>
                    </div>
                 </div>
              </article> 
              <!-- Fin de la card 4-->
              
             </div>


            </div>
            </section>
        <!-- <div class="Contenedor-princpipal">
            <div class="Contenedor-Modulos">
                <div class="modl">
                    <div class="in_mod">
                        <h2>Datos de Equipos de Fútbol</h2>
                        <a href="/equipos"><img src="{{url_for('static',filename='/image/config/equipos.png')}}" alt=""></a>
                    </div>
                    <div class="in_mod">
                        <h2>Árbitros</h2>
                        <a href="/Editp"><img src="{{url_for('static',filename='/image/config/arbitro.jpg')}}" alt=""></a>
                    </div>
                    <div class="in_mod">
                        <h2>Estadios</h2>
                        <a href="/Editp"><img src="{{url_for('static',filename='/image/config/estadios.jpg')}}" alt=""></a>
                    </div>
                </div>
            </div> -->
    
</body>

</html>