{% extends "equipos.html" %}

{% block tarjetas%}
           <!-- Contenedor de las cards -->
           <div class="cards-container">
              <!-- Card, Acá van todas las card, se copian las card que sean necesarias en este
                 container. En este ejemplo se copiaron 3 cards -->
              
              <!-- Card 1 -->
              <article class="card btn-light">
               <img src="{{ t1[2] }}" alt="catar">
                 <div class="card-info">
                    <h3 class="text-secondary">{{ t1[0] }}</h3>
                    <!-- Info de la card -->
                    <div class="info-reserva-container">
                       <div class="info-left">
                          <p class="estadia">Entrenador:</p>
                          <p>
                           {{ t1[1] }}
                          </p>
                       </div>
                       <div class="info-right">
                          <div class="item">
                             <svg width="16" height="16" fill="currentColor" class="svg-icon">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                             </svg>
                             <a href="/jugadores{{p+1}}">Ver Jugadores</a>
                          </div>
                          <div class="item">
                           <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                              <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                              <path d="M16 5l3 3"></path>
                           </svg>
                          <a href="/select_group_edit1">Editar info</a>
                          </div>
                       </div>
                    </div>
                 </div>
              </article> 
              <!-- Fin de la card 1-->
              <!-- Card 2 -->
              <article class="card btn-light">
               <img src="{{ t2[2] }}">
                <div class="card-info">
                   <h3 class="text-secondary">{{ t2[0] }}</h3>
                   <!-- Info de la card -->
                   <div class="info-reserva-container">
                      <div class="info-left">
                         <p class="estadia">Entrenador:</p>
                         <p>
                           {{ t2[1] }} 
                         </p>
                      </div>
                      <div class="info-right">
                         <div class="item">
                            <svg width="16" height="16" fill="currentColor" class="svg-icon">
                               <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                            <a href="/jugadores{{p+2}}">Ver Jugadores</a>
                         </div>
                         <div class="item">
                           <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                              <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                              <path d="M16 5l3 3"></path>
                           </svg>
                         <a href="/select_group_edit2">Editar info</a>
                         </div>
                      </div>
                   </div>
                </div>
             </article> 
             <!-- Fin de la card 2-->
             
            </div>
            <div class="cards-container">
               <!-- Card, Acá van todas las card, se copian las card que sean necesarias en este
                  container. En este ejemplo se copiaron 3 cards -->
               
               <!-- Card 3 -->
               <article class="card btn-light">
                  <img src="{{ t3[2] }}" alt="pbajos">
                  <div class="card-info">
                     <h3 class="text-secondary">{{ t3[0] }}</h3>
                     <!-- Info de la card -->
                     <div class="info-reserva-container">
                        <div class="info-left">
                           <p class="estadia">Entrenador:</p>
                           <p>
                              {{ t3[1] }} 
                           </p>
                        </div>
                        <div class="info-right">
                           <div class="item">
                              <svg width="16" height="16" fill="currentColor" class="svg-icon">
                                 <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                              </svg>
                              <a href="/jugadores{{p+3}}">Ver Jugadores</a>
                           </div>
                           <div class="item">
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                 <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                 <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                                 <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                                 <path d="M16 5l3 3"></path>
                              </svg>
                           <a href="/select_group_edit3">Editar info</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </article> 
               <!-- Fin de la card 3-->
               <!-- Card 4 -->
               <article class="card btn-light">
                  <img src="{{ t4[2] }}" alt="senegal">
                 <div class="card-info">
                    <h3 class="text-secondary">{{ t4[0] }}</h3>
                    <!-- Info de la card -->
                    <div class="info-reserva-container">
                       <div class="info-left">
                          <p class="estadia">Entrenador:</p>
                          <p>
                           {{ t4[1] }} 
                          </p>
                       </div>
                       <div class="info-right">
                          <div class="item">
                             <svg width="16" height="16" fill="currentColor" class="svg-icon">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                             </svg>
                             <a href="/jugadores{{p+4}}">Ver Jugadores</a>
                          </div>
                          <div class="item">
                           <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                              <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                              <path d="M16 5l3 3"></path>
                           </svg>
                          <a href="/select_group_edit4">Editar info</a>
                          </div>
                       </div>
                    </div>
                 </div>
              </article> 
              <!-- Fin de la card 4-->
              
             </div>
             {% endblock %}
            