{% extends './Pagina_inicial.html' %}

{% block title %}Modulo Web{% endblock %}
{% block body %}
{% block header %}
<header>
    <div class="contenedor">
        <img src="{{url_for('static',filename='/image/Logo.png')}}"></img>
        <h2 class="logo">Copa Mundial de la FIFA Qatar 2022</h2>       
        <nav>
            <a href="/">Inicio</a>
            <a href="/Programacion">Programación</a>
            <a href="/Inises">Partidos on-line</a>
            <a href="/config">Configuración</a>

        </nav>
    </div>
</header>
{% endblock %} 
{% block main %}              
    <div class="fech">
        <h1>{{ x }}</h1>
    </div>  
    <div class="part">
    {% for i in range(numpart) %}
        <div class="hora">
            {% if numhor[i] > numhoract or (numhor[i] == numhoract and nummin[i] > numminact) %}
                <h1>
                    {{ hor[i] }}
                </h1>
            {% elif finpar[i] == 0 %}
                <h1>Juegan</h1>
            {% else %}
                <h1>Fin</h1>
            {% endif %}
        </div>
        <div class="log">
            <img class="log" src="{{ logl[i] }}">
        </div>
        <div class="vs">
            <h1>{{ lok[i] }}</h1>
        </div>
        <div class="marcador">
            {% if numhor[i] > numhoract or (numhor[i] == numhoract and nummin[i] > numminact) %}
                <h1>-</h1>
            {% elif golesL[i]==None %}
                <h1>0</h1>
            {% else %}
                <h1>{{ golesL[i] }}</h1>
            {% endif %}
        </div>
        <div class="marcadorya">
            <h1>vs</h1>
        </div>
        <div class="marcador">
            {% if numhor[i] > numhoract or (numhor[i] == numhoract and nummin[i] > numminact) %}
                <h1>-</h1>
            {% elif golesV[i]==None %}
                <h1>0</h1>
            {% else %}
                <h1>{{ golesV[i] }}</h1>
            {% endif %}
        </div>
        <div class="vs">
            <h1>{{ vis[i] }}</h1>
        </div>
        <div class="log2">
            <img class="log2" src="{{ logv[i] }}">
        </div>
        <div class="link">
            {% if numhor[i] > numhoract or (numhor[i] == numhoract and nummin[i] > numminact) %}

            {% elif finpar[i] == 0 %}
                <nav>
                    <a href="{{ url_for('estad', partido=i) }}">LIVE</a>
                </nav>
            {% else %}
                <nav>
                    <a href="{{ url_for('estad', partido=i) }}">LINK</a>
                </nav>
            {% endif %}
        </div>
    {% endfor %}
    </div>      
{% endblock %}
{% endblock %}
