<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="5"> -->
    <link rel="stylesheet" href="{{url_for('static',filename='./CSS/inicial.css')}}">
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='./CSS/partidos.css')}}"> -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap" rel="stylesheet">

    <title>{% block title %}Mundial Qatar 2022{% endblock %}</title>
</head>
{% block body %}
<body>
    {% block header %}
    <header>
        <div class="contenedor">
            <img src="https://i.ibb.co/FVnhBxK/Logo.png"></img>
            <h2 class="logo">Copa Mundial de la FIFA Qatar 2022</h2>           
            <nav>
                <a href="/" class="activo">Inicio</a>
                <a href="/Programacion">Programación</a>
                <a href="/Partidos">Partidos on-line</a>
                <a href="/config">Configuración</a>
        

            </nav>
        </div>
    </header>
    {% endblock %}
    {% block main %}
    <main>
        <div class="Banner">
            <div class="contenedor">
                <h1 class="sec_Banner">Bienvenido a la copa mundial de la FIFA QATAR 2022</h1>
            </div>


        </div>
        <div class="Recomendados">
            <div class="contenedor-titulo">
                <h2>Módulos principales</h2>
            </div>
            <div class="Contenedor-princpipal">
                <div class="Contenedor-Modulos">
                    <div class="modl">
                        <div class="in_mod">
                            <h2>Programación</h2>
                            <a href="/Programacion"><img src="https://i.ibb.co/myb97mZ/Programacion.jpg" alt=""></a>
                            
                        </div>
                        <div class="in_mod">
                            <h2>Partidos on-line</h2>
                            <a href="/Partidos"><img src="https://i.ibb.co/hC7SLXf/online.jpg" alt=""></a>       
                        </div>
                        <div class="in_mod">
                            <h2>Configuración</h2>
                            <a href="/config"><img src="https://i.ibb.co/S0dGzXH/Configuracion.jpg" alt=""></a>
                        </div>
                        <div class="in_mod">
                            <h2>Vista web</h2>
                            <a href="/modweb"><img src="https://i.ibb.co/MgKByt4/Vista.jpg" alt=""></a>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </main>
    {% endblock %}
</body>
{% endblock %}

</html>