<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/partidos.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/botones.css')}}">
    <title>Programacion</title>
</head>

<body>

    <header>
        <div class="contenedor">
            <img src="{{url_for('static',filename='/image/Logo.png')}}"></img>
            <h2 class="logo">Copa Mundial de la FIFA Qatar 2022</h2>
            <nav>
                <a href="/">Inicio</a>
                <a href="/Programacion">Programación</a>
                <a href="/Partidos" class="activo">Partidos on-line</a>
            </nav>
        </div>
    </header>

        <section class="square">

            <div class="contentbig">
                <img src="https://i.ibb.co/Nmwy8qG/catar.png" id="escudo" alt="catar">
                <h1 class="font">vs</h1>
                <img src="https://i.ibb.co/zfhR8JQ/pbajos.png" id="escudo" alt="pbajos">
            </div>    

        <h3 class="fecha">"Fecha-Hora" </h3>
        </section>

    <div class="contentbig">
        
        <div class="square-left">

            <h1 class="informacion">Información </h1>

            <h1 class="minuto">Minuto: </h1>

            <div class="content">  

                <div class="quantity">
                    <input id="minuto" type="number" min="0" max="125" value="0">
                </div>
                <h1> : </h1>
                <div class="quantity">
                    <input id="segundo" type="number" min="0" max="60" value="0">
                </div>

            </div>   
            
            <h1 class="minuto">Descripción: </h1>
            <input type="text" id="titulo" class="controls" placeholder="Ingrese la descripción">

        </div>

        <div>

            <input type="button" class="button" value="Input Button">

        </div>

        <div class="square-right">

            <h1 class="informacion">Eventos especiales </h1>

            <label class="container">Tarjetas Amarillas
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Tarjetas Amarillas
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Tiros de esquina
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Goles
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="container">Fin de juego
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            
        </div>

    </div>

    <div class="contentbig">

        <div class="squarelast">

            <h1 class="informacion">Estadisticas </h1>

            <div class="contentbig">
                <img src="https://i.ibb.co/Nmwy8qG/catar.png" id="escudo2" alt="catar">
                <h1 class="font">-</h1>
                <img src="https://i.ibb.co/zfhR8JQ/pbajos.png" id="escudo2" alt="pbajos">
            </div>

            <div class="content">
                
                <div class="stepper-input">
                    <button class="btn btn-left">-</button>
                    <input type="text" placeholder="Number of bugs" value="30" class="input-box"/>
                    <button class="btn btn-right">+</button>
                 </div>

            </div>

            <div>
                
            </div>

            <div>
                
            </div>

            <div>
                
            </div>

        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{url_for('static', filename='botones.js')}}"></script>



</html>