<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/partidos.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/botones.css')}}">
    <title>Programacion</title>
</head>

<body>

    <header>
        <div class="contenedor">
            <img src="{{url_for('static',filename='/image/Logo.png')}}"></img>
            <h2 class="logo">Copa Mundial de la FIFA Qatar 2022</h2>
            <nav>
                <a href="/">Inicio</a>
                <a href="/Programacion">Programación</a>
                <a href="/Partidos" class="activo">Partidos on-line</a>
            </nav>
        </div>
    </header>

        <section class="square">

            <div class="contentbig">
                <img src="https://i.ibb.co/Nmwy8qG/catar.png" id="escudo" alt="catar">
                <h1 class="font">vs</h1>
                <img src="https://i.ibb.co/zfhR8JQ/pbajos.png" id="escudo" alt="pbajos">
            </div>    

        <h3 class="fecha">{{fecha}} </h3>
        </section>

    <div class="contentbig">
        
        <div class="square-left">
            <form action="/Partidos" method="POST">
                <h1 class="informacion">Información </h1>

                <h1 class="minuto">Minuto: </h1>
    
                <div class="content">  
                
                    <div class="quantity">
                        <input id="minuto" name="minuto" type="number" min="0" max="125" value="0">
                    </div>
                    <h1> : </h1>
                    <div class="quantity">
                        <input id="segundo" name="Segundo" type="number" min="0" max="60" value="0">
                    </div>
    
                </div>   
                
                <h1 class="minuto">Descripción: </h1>
                <input type="text" id="titulo" name="Descripcion" class="controls" placeholder="Ingrese la descripción">
    
                <h1 class="informacione">Eventos especiales: </h1>
    
                <label class="container">Tarjetas Amarillas
                    <input type="checkbox" name="TarjetaA" value="1">
                    <span class="checkmark"></span>
                  </label>
                  <label class="container">Tarjetas Rojo
                    <input type="checkbox" name="TarjetaR" value="1">
                    <span class="checkmark"></span>
                  </label>
                  <label class="container">Tiros de esquina
                    <input type="checkbox" name="TE" value="1">
                    <span class="checkmark"></span>
                  </label>
                  <label class="container">Goles
                    <input type="checkbox" name="GOL" value="1">
                    <span class="checkmark"></span>
                  </label>
                  <label class="container">Fin de juego
                    <input type="checkbox" name="finj" value="1">
                    <span class="checkmark"></span>
                  </label>
    
                <div>
    
                    <input type="submit" class="button" value="Guardar">
    
                </div>
    
            </div>

            </form>
           



        <div class="square-right">
            <h1 class="informacion">Estadísticas </h1>

            <div class="contentbig">
                <img src="https://i.ibb.co/Nmwy8qG/catar.png" id="escudo2" alt="catar">
                <h1 class="font">-</h1>
                <img src="https://i.ibb.co/zfhR8JQ/pbajos.png" id="escudo2" alt="pbajos">
            </div>

            <div class="contentstat">

                <div class="stepper-input">  
                    <button class="btn btn-left" id="decrement" onclick="stepper(this)"> - </button>
                    <input class="input-box" type="number" min="0" max="100" step="1" value="0" id="my-input"  readonly>
                    <button class="btn btn-right" id="increment" onclick="stepper(this)"> + </button>
                </div>
                <h1 class="fontstats">Goles</h1>
                <div class="stepper-input">
                    <button class="btn btn-left" id="decrement" onclick="stepper1(this)"> - </button>
                    <input class="input-box" type="number" min="0" max="100" step="1" value="0" id="my-input1"  readonly>
                    <button class="btn btn-right" id="increment" onclick="stepper1(this)"> + </button>
                </div>

            </div>

            <div class="contentstat">
                <div class="stepper-input">  
                    <button class="btn btn-left" id="decrement" onclick="stepper2(this)"> - </button>
                    <input class="input-box" id="my-input2" type="number" min="0" max="100" step="1" value="0"   readonly>
                    <button class="btn btn-right" id="increment" onclick="stepper2(this)"> + </button>
                </div>
                <h1 class="fontstats">Remates</h1>
                <div class="stepper-input">
                    <button class="btn btn-left" id="decrement" onclick="stepper3(this)"> - </button>
                    <input class="input-box" id="my-input3" type="number" min="0" max="100" step="1" value="0" readonly>
                    <button class="btn btn-right" id="increment" onclick="stepper3(this)"> + </button>
                </div>
                
            </div>

            <div class="contentstat">
                <div class="stepper-input">  
                    <button class="btn btn-left" id="decrement" onclick="stepper4(this)"> - </button>
                    <input class="input-box" id="my-input4" type="number" min="0" max="100" step="1" value="0"   readonly>
                    <button class="btn btn-right" id="increment" onclick="stepper4(this)"> + </button>
                </div>
                <h1 class="fontstats">Fuera de juego</h1>
                <div class="stepper-input">
                    <button class="btn btn-left" id="decrement" onclick="stepper5(this)"> - </button>
                    <input class="input-box" id="my-input5" type="number" min="0" max="100" step="1" value="0" readonly>
                    <button class="btn btn-right" id="increment" onclick="stepper5(this)"> + </button>
                </div>
            </div>

            <div class="contentstat">
                <div class="stepper-input">  
                    <button class="btn btn-left" id="decrement" onclick="stepper6(this)"> - </button>
                    <input class="input-box" id="my-input6" type="number" min="0" max="100" step="1" value="0"   readonly>
                    <button class="btn btn-right" id="increment" onclick="stepper6(this)"> + </button>
                </div>
                <h1 class="fontstats">Tiros de esquina</h1>
                <div class="stepper-input">
                    <button class="btn btn-left" id="decrement" onclick="stepper7(this)"> - </button>
                    <input class="input-box" id="my-input7" type="number" min="0" max="100" step="1" value="0" readonly>
                    <button class="btn btn-right" id="increment" onclick="stepper7(this)"> + </button>
                </div>               
            </div>

            <div> <h6 class="fonte"> Las estadísticas se guardan al final del partido.</h6> </div>

    </div>


    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{url_for('static', filename='botones.js')}}"></script>



</html>