{% extends "model_prog.html" %}

{% block formulario%}
{% if P==1:%}
<h4>Edicion de partido {{pr}} </h4>

<form action="" method="post" novalidate>
{{form.hidden_tag()}}

<p class="Formulario">
    {{form.Estadio.label}}<br>
    {{form.Estadio}}<br>

</p>
<p class="Formulario">
    {{form.Equipo1.label}}<br>
    {{form.Equipo1}}<br>

</p>
<p class="Formulario">
    {{form.Equipo2.label}}<br>
    {{form.Equipo2}}<br>

</p>
<p class="Formulario">
    {{form.Arbitro.label}}<br>
    {{form.Arbitro}}<br>

</p>
<p class="Formulario">
    {{form.Fecha.label}}<br>
    {{form.Fecha}}<br>

</p>

<p class="buton">
    {{form.ingb()}}
</p>
</form>
{% else:%}
<h4>Programacion de partidos </h4>
<form action="" method="post" novalidate>
{{form.hidden_tag()}}

<p class="Formulario">
    {{form.Estadio.label}}<br>
    {{form.Estadio}}<br>

</p>
<p class="Formulario">
    {{form.Equipo1.label}}<br>
    {{form.Equipo1}}<br>

</p>
<p class="Formulario">
    {{form.Equipo2.label}}<br>
    {{form.Equipo2}}<br>

</p>
<p class="Formulario">
    {{form.Arbitro.label}}<br>
    {{form.Arbitro}}<br>

</p>
<p class="Formulario">
    {{form.Fecha.label}} YYYY-MM-DD hh:mm:ss<br>
    {{form.Fecha}}<br>

</p>

<p class="buton">
    {{form.ingb()}}
</p>

</form>
<h2>{{msg}}</h2>
{%endif%}
{% endblock %}

