<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tablas</title>
</head>
<body>
    <h1>Grupo {{ grupo }}</h1>
    <table>
        <tr>
            <th>Equipo</th>
            <th>Puntos</th>
        </tr>
        <tr>
            <td>{{ eq1 }}</td>
            <td>{{ go1 }} </td>
        </tr>
        <tr>
            <td>{{ eq2 }}</td>
            <td>{{ go2 }} </td>
        </tr>
        <tr>
            <td>{{ eq3 }}</td>
            <td>{{ go3 }} </td>
        </tr>
        <tr>
            <td>{{ eq4 }}</td>
            <td>{{ go4 }} </td>
        </tr>
    </table>
</body>
</html>